@charset "UTF-8";
.preview {
  width: 100%;
}

.preview_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.preview_btn {
  padding: 12px 16px;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-xxs);
  color: var(--main-font-color);
  border: 1px solid var(--main-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.preview_btn.update {
  background-color: var(--accent-bg-color);
  border: 1px solid var(--accent-bg-color);
}

.preview_inner {
  width: calc(100% - 32px);
  margin-inline: 16px;
}

.preview_header {
  position: -webkit-sticky;
  position: sticky;
  top: 16px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px 0 24px;
  margin-top: 16px;
  border-radius: var(--border-radius-m);
  background-color: var(--sub-bg-color);
  border: 1px solid var(--main-border-color);
  z-index: 999;
}

.preview_header_title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.preview_header_title-wrapper .follow-btn {
  padding: 8px 16px;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-xxs);
  color: var(--main-font-color);
  border: 1px solid var(--main-border-color);
  background-color: var(--accent-bg-color);
  border: 1px solid var(--accent-bg-color);
  font-weight: 500;
}

.preview_header_title {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--main-font-color);
}

.preview_header_nav {
  position: relative;
  overflow: hidden;
}

.preview_header_nav_btn {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 8px;
  background-color: var(--sub-bg-color);
  border-left: 1px solid var(--main-border-color);
  z-index: 10;
}

.preview_header_nav_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

.preview_header_nav_item > .active {
  color: var(--main-font-color);
  border-bottom: 1px solid var(--accent-bg-color);
}

.preview_header_nav_link {
  position: relative;
  padding: 16px 24px;
  text-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--sub-font-color);
  font-size: var(--font-size-xs);
  font-weight: 400;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.preview_header_nav_link:hover {
  color: var(--main-font-color);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.preview_header_nav_link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: var(--accent-bg-color);
  -webkit-animation: nav_border .2s forwards;
          animation: nav_border .2s forwards;
}

@-webkit-keyframes nav_border {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes nav_border {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.box {
  width: 100%;
  background-color: var(--sub-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: var(--border-radius-m);
  margin-top: 24px;
  margin-bottom: 80px;
}

.box > .inner {
  padding: 16px;
}

.box_label {
  font-size: var(--font-size-s);
  color: var(--main-font-color);
}

.box_btn {
  margin-top: 24px;
  padding: 12px 16px;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-xxs);
  color: var(--main-font-color);
  border: 1px solid var(--sub-border-color);
}

.box_btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.box_btn_wrapper > .save {
  color: var(--main-font-color);
  background-color: var(--accent-bg-color);
  border: 1px solid var(--accent-bg-color);
}

.cms-container {
  margin-top: 80px;
  width: 100%;
  max-width: 960px;
  margin-inline: auto;
}

.cms-container_title {
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: var(--main-font-color);
}

.form-container {
  margin-top: 80px;
  background-color: var(--sub-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: var(--border-radius-m);
  padding: 32px 32px 40px;
}

.form-container_title {
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: var(--main-font-color);
}

.form-container_desc {
  margin-top: 16px;
  font-size: var(--font-size-xs);
  color: var(--sub-font-color);
}

.notice_list {
  margin-top: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.notice_item {
  border-radius: var(--border-radius-m);
  background-color: var(--sub-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  cursor: pointer;
  padding: 16px;
}

.notice_item_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.notice_item_info > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: var(--font-size-xs);
  color: var(--sub-font-color);
}

.notice_item_info > p > .slash {
  width: 1px;
  height: 12px;
  background-color: var(--sub-border-color);
}

.notice_item_title {
  font-size: var(--font-size-s);
  color: var(--main-font-color);
}

.blog_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, auto));
  row-gap: 32px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  margin-top: 24px;
}

.blog_item {
  cursor: pointer;
  max-width: 320px;
}

.blog_item > img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-m);
}

.blog_item > p {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--sub-font-color);
  font-size: var(--font-size-xxs);
}

.blog_item > p > .slash {
  width: 1px;
  height: 12px;
  background-color: var(--sub-border-color);
}

.blog_item > h4 {
  margin-top: 8px;
  font-size: var(--font-size-s);
  color: var(--main-font-color);
}

.hero {
  position: relative;
  width: 100%;
  padding: 16px;
  padding-bottom: 40px;
}

.hero_banner {
  width: 100%;
  height: 96px;
  background-color: var(--elem-bg-color);
  border-radius: var(--border-radius-s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_profile_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-m);
}

.hero_body {
  width: 100%;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.hero_body_prof {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_body_prof_p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: var(--font-size-xs);
  color: var(--sub-font-color);
}

.hero_body_prof_p > .strong {
  color: var(--main-font-color);
  padding-left: 8px;
  margin-left: 8px;
  border-left: 1px solid var(--sub-border-color);
}

.hero_body_prof_title {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_body_prof_title > h2 {
  font-size: var(--font-size-xxxl);
  color: var(--main-font-color);
}

.hero_body_prof_desc {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hero_body_prof_desc > p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: var(--font-size-s);
  color: var(--sub-font-color);
  line-height: 2;
}

.hero_body_img {
  width: 48%;
  height: 100%;
  min-height: 120px;
  aspect-ratio: 5/3;
  background-color: var(--elem-bg-color);
  border-radius: var(--border-radius-m);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.hero_body_img_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--main-font-color);
  font-size: var(--font-size-xxs);
}

.hero_btn-list {
  position: absolute;
  bottom: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.hero_btn-item {
  position: relative;
  width: 64px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  background-color: var(--elem-bg-color);
  border-radius: var(--border-radius-m);
  border: 1px solid var(--sub-border-color);
}

.hero_btn-item > .delete_btn {
  display: none;
}

.hero_btn-item:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero_btn-item:hover > .delete_btn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--btn-bg-color);
  border-radius: 100px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero_btnlabel {
  color: #fff;
  font-size: var(--font-size-xxs);
  font-weight: 500;
}

.item_action_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-left: 8px;
  margin-top: 2px;
}

.hero_banner, .hero_body_img {
  position: relative;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_banner:hover::after, .hero_body_img:hover::after {
  opacity: 1;
}

.uploading {
  position: relative;
}

.uploading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.uploading::after {
  content: "アップロード中...";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  opacity: 1;
}

.default-image-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modified {
  position: relative;
}

.modified::after {
  content: "変更あり - 保存してください";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px 0 0 0;
  z-index: 10;
}

/* 画像プレビューのスタイル */
.hero_banner_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-m);
}

.hero_body_img_preview {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-m);
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.custom-alert-content {
  background-color: var(--sub-bg-color);
  padding: 28px;
  border-radius: var(--border-radius-m);
  max-width: 500px;
  width: 90%;
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border: 1px solid var(--main-border-color);
}

.custom-alert-content > h3 {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--main-font-color);
  font-size: var(--font-size-m);
  font-weight: 500;
}

.custom-alert-content > p {
  margin-bottom: 24px;
  color: var(--sub-font-color);
  font-size: var(--font-size-xs);
  line-height: 1.5;
  border-bottom: 1px solid var(--sub-border-color);
  padding-bottom: 16px;
}

.custom-alert-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-alert-buttons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-left: auto;
}

.custom-alert-buttons-group > .btn-danger {
  color: var(--danger-font-color);
  font-size: var(--font-size-xs);
  border: 1px solid var(--main-border-color);
  padding: 12px 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: var(--border-radius-m);
}

.custom-alert-buttons-group > .btn-danger:hover {
  border: 1px solid var(--danger-border-color);
  background-color: var(--delete-bg-color);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.custom-alert-buttons-group > .btn-primary {
  color: var(--main-font-color);
  font-size: var(--font-size-xs);
  border: 1px solid var(--main-border-color);
  padding: 12px 16px;
  border-radius: var(--border-radius-m);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.custom-alert-buttons-group > .btn-primary:hover {
  border: 1px solid var(--accent-bg-color);
  background-color: var(--accent-bg-color);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.custom-alert-buttons > .btn-secondary {
  color: var(--sub-font-color);
  font-size: var(--font-size-xs);
  border-bottom: 1px solid var(--sub-border-color);
  padding-bottom: 4px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.custom-alert-buttons > .btn-secondary:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: var(--main-font-color);
}

.custom-alert.active {
  opacity: 1;
  visibility: visible;
}

.custom-alert.active .custom-alert-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 768px) {
  .custom-alert-content {
    width: 95%;
    padding: 20px;
  }
  .custom-alert-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .btn-primary, .btn-secondary, .btn-danger {
    width: 100%;
    padding: 12px;
  }
}

.profile-section {
  margin-top: 80px;
  margin-inline: 16px;
}

.section-title {
  font-size: var(--font-size-m);
  color: var(--main-font-color);
  font-weight: 500;
}

.slash {
  width: 1px;
  height: 16px;
  background-color: var(--sub-border-color);
}

.sns-account-tooltip {
  position: absolute;
  bottom: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 8px;
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-xxs);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 10;
}

.hero_btn-item:hover .sns-account-tooltip {
  opacity: 1;
  visibility: visible;
}

.sns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.sns-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  color: #333;
}

.form {
  margin-inline: auto;
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid var(--main-border-color);
}

.form-body {
  padding-inline: 16px;
}

.form-body_input-wrapper {
  position: relative;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.form-body_input-wrapper:first-of-type {
  margin-top: 0;
}

.form-body_input-wrapper > label {
  font-size: var(--font-size-xs);
  color: var(--main-font-color);
}

.form-body_input-wrapper > input {
  padding: 16px;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--main-border-color);
  background-color: var(--item-bg-color);
  font-size: var(--font-size-s);
  color: var(--main-font-color);
}

.form-body_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.form-body_wrapper > button {
  margin-top: 2px;
  margin-left: 8px;
}

.form-body_wrapper > input {
  width: 16px;
  height: 16px;
  border: 1px solid var(--main-border-color);
}

.form-body_wrapper > label {
  color: var(--main-font-color);
  font-weight: 400;
  font-size: var(--font-size-s);
}

.form-body_wrapper_btn {
  padding: 8px 16px;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--main-border-color);
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-size-xs);
  color: var(--main-font-color);
}

.form-body_wrapper_textarea {
  margin-top: 32px;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--main-border-color);
  font-size: var(--font-size-xs);
}

.form-body > fieldset {
  position: relative;
  margin-top: 32px;
}

.form-body_btn {
  margin-top: 32px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 12px 40px;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--accent-bg-color);
  background-color: var(--accent-bg-color);
  color: var(--main-font-color);
  font-size: var(--font-size-xs);
}

.empty {
  width: 100%;
  max-width: 320px;
  background-color: var(--sub-bg-color);
  padding: 16px;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--main-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empty_label {
  font-size: var(--font-size-xs);
  color: var(--sub-font-color);
}

.subject_label {
  font-size: var(--font-size-xs);
  color: var(--main-font-color);
}

.view-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.view-less {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-less_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  color: var(--main-font-color);
  font-size: var(--font-size-xs);
  border: 1px solid var(--main-border-color);
  padding: 12px 16px;
  border-radius: var(--border-radius-m);
}

.view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-more_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  color: var(--main-font-color);
  font-size: var(--font-size-xs);
  border: 1px solid var(--main-border-color);
  padding: 12px 16px;
  border-radius: var(--border-radius-m);
}
/*# sourceMappingURL=preview.css.map */